@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Mali');

body {
    max-width: 900px;
    margin: auto;
    background-image: url(../img/fon4.jpg);
    background-size: cover;
    background-position: center;
}

/*header  .navbar-expand-sm {
    justify-content:center;
}
*/
header .bg-light {
    background-color: #ffeb3b03!important;
} 

header  .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 990px;
}

header  .header-nav-grid {
    width: 100%;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 60px;
}

header  .navbar-brand {
    margin-right: 0;
    white-space: normal;
}

header p {
    margin-top: 0;
    margin-bottom: 0rem;
}

header .butnav-in-grid{
    display:flex;
    justify-content:center;
    align-items:center;
}

header .wrapper {
    font-family: 'Bangers', cursive;
    font-size: 1.4rem;
    text-align: left;
    margin: 5px auto;
    text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
}

header .navbar-toggler-icon {
    width: 1.2em;
    height: 1.2em;
}

header .navbar-toggler {
    padding: 4px 4px 4px 4px;
}

header .nav-link {
    /*display: block;*/
    padding: .2rem 1rem;
    font-family: 'Mali', cursive;
    font-size: 0.9rem;
    font-weight: bolder;
}

header .nav-link:hover {
    text-decoration: underline;
}

p {
    margin-top: 0;
    margin-bottom: 0.6rem;
}

main .about-txt-Lumbarda, .about-txt-beaches {
    text-indent: 2rem;
    font-family: 'Mali', cursive;
    text-align: justify ;
    font-size: 0.75rem;
    width: auto;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

main .about-txt-Lumbarda, .about-villas-txt, .all-data-about-beaches, .about-txt-beaches {
    display: grid;
}

main .btn-primary {
    color: #fff;
    background-color: #7692a9f5;
    border-color: hsl(200, 48%, 31%);
}

main .buttonIntxtBeaches{
    position: relative;
    right: 2rem;
}

main #btn-beaches {
    width:100%;
}

main  .btn {
    font-weight: 100;
    font-size: 0.8rem;
    padding: .1rem .1rem;
    width: 100%;
}

main .headers-on-site {
    font-family: 'Mali', cursive;
    text-align: center;
    margin: 20px auto;
    font-size: 1.2rem;
    text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
}

main    .villaFotoSocol, .villaFotoCebalo {
    border: ridge;
    position	: relative;
    left: 10%;
	width: 80%;
	height :80%;
	bottom: 9px;
}

main   .about-villas-txt {
    text-indent: 2rem;
    font-family: 'Mali', cursive;
    text-align: justify ;
    font-size: 0.75rem;
    width: auto;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    list-style-type: none;
}


main .beachesFotoSt {
    border: ridge;
    position	: relative;
    left: 10%;
	width: 80%;
	margin-top: 20px;
}

main .beachesFotoPr {
    border: ridge;
    position	: relative;
    left: 10%;
	width: 80%;
	
}


main .all-data-friendlylinks {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 140px 1fr;
    font-family: 'Mali', cursive;
    font-size: 0.9rem;
    align-items: center;
}

main .button-friendlylinks {
    padding: 5px 5px;
    font-family: 'Bangers', cursive;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 10px;
    cursor: pointer;
    background-color: white; 
    color: #707B7C; 
    border: 2px solid #154360;   
    width: 100px;
    max-height: 28px;
}

main .button-friendlylinks:hover {
    background-color: #85C1E9;
    color: white;
}

main .href-text:hover {
    background-color: #85C1E9;
    color: white;
}

main .all-data-contacts {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 40px 1fr;
    font-family: 'Mali', cursive;
    font-size: 0.6rem;
    align-items: center;
    margin-left: 10px;
}

main .img-icon-contacts {
    height: 26px;
    width: 26px;
}

main .contacts-tel{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 20px 20px 20px 20px 1fr;
    font-family: 'Mali', cursive;
    font-size: 0.6rem;
    align-items: center;
    margin-left: 10px;
}

main  .content-in-form{
    display: grid;
    margin-top: 10px;
    grid-gap: 5px;
    grid-template-columns: auto;
    font-family: 'Mali', cursive;
    font-style: oblique;
    font-weight: bold;
    font-size: 0.9rem;
    align-items: center;
    margin-left: 10px;
    background: #D2F1F4;
}

main .block-but-submit {
    display: flex;
    justify-content: center;
}


main  .but-submit {
    padding: 3px 3px;
    font-family: 'Bangers', cursive;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 20px;
    cursor: pointer;
    background-color: white; 
    color: #707B7C; 
    border: 2px solid #154360;   
    width: 100px;
    max-height: 28px;
}

main .but-submit:hover {
    background-color: #85C1E9;
    color: white;
}

#textarea {
    height: 5rem;
}

footer .text-footer {
    font-family: 'Mali', cursive;
    font-size: 0.8rem;
    margin-left: 10px;
}


/*-- Modal --*/

.about-txt-Lumbarda, .about-villas-txt{
    text-indent: 2rem;
    font-family: 'Mali', cursive;
    text-align: justify ;
    font-size: 0.75rem;
    width: auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}


#moreAboutLumbardaTitle, #moreAboutVillaCebaloTitle, #moreAboutVillaSocolTitle{
    font-family: 'Mali', cursive;
    text-align: left;
    font-size: 1.2rem;
    text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
    margin: 5px 0px 5px 5px;
}


.moreFotoBeaches{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    align-content:center;
}

.beachesFotosMore {
    
    position: relative;
    width: 100%;
    margin-top: 5px;
}

/*-- Modal --*/



.blokimg {
	position: relative;
}

.overlay{
	display: none;
	height: auto;
	position: absolute;
	width: auto;
	z-index: 999;
}

.overlay .overlay_container{
	display: table-cell;
	vertical-align: middle;
}

	.overlay_container img{
	background-color: #6ac199;
	padding: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
	.overlay:target{
	display: table;
}





@media (min-width: 577px) {
    
header  .header-nav-grid {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

header .nav-link{
    color: #2874A6;
    font-family: 'Bangers', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
}

header .header-all-grid {
       width: 100%;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;

}    


    
}

















/*
@media (min-width: 575px) {

header .header-nav-grid {
    width: 100%;
    display: block;
    }

header .header-nav-grid{
    text-align: center;
}

header .navbar-light .navbar-nav .nav-link {
    color: #2874A6;
    font-family: 'Bangers', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
}

header .nav-bar {
    display:flex;
    justify-content:center;
    align-items:center;
}

header .nav-link:hover {
    text-decoration: underline;
}

}

@media (min-width: 750px) {

header .header-nav-grid {
    width: 100%;
    display: block;
    text-align: center;
    }
}



*/